* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: snow;
    font-family: 'Ubuntu', sans-serif;

}

ul {
    list-style: none;

}

a {
    text-decoration: none;
}

body {
    background: linear-gradient(90deg, #093028, #237A57)
}

header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 1px 1px 10px 2px #fff;
    margin-bottom: 50px;
    background-color: #fff;

}

header ul{
    display: flex;
    align-items: center;
    font-size: 18px;
}

header ul li {
    padding: 12px;

}

.icons{
    width: 48px;
    height: 48px;
    transition: 300ms;
    fill: #000 ;
  }
  
.icons:hover {
    opacity: 0.7;
    fill: #093028;
}
  

.conteiner {
    text-align: center;
}

.conteiner .name h1 {
    font-size: 70px;
    margin-top: 5px;
}

.conteiner .name h5 {
    font-size: 35px;
    margin: 10px
}

#about p {
    max-width: 600px;
    margin: 0 auto;
    color: azure;
}

#arrow i{
    color: #fff
}
#arrow {
    font-size: 50px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

#animation{
    transition: 300ms;
}

.active{
    display: block !important;
}

footer {
    font-size: 11px;
    text-align: center;
    margin-top: 15% ;
    
}

.conteiner-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 2rem;
}

.conteiner-3{
    padding: 4rem;
    border: 1px solid #000;
    border-radius: 1rem;
}

h3{
    font-size: 5rem;
    margin-bottom: 3rem;
    color: #000;
}

h4{
    font-size: 1.7rem;
    color: #000;
}

p{
    font-size: 1.1rem;
}

#p-final{
    margin-top: 2rem;
    font-size: 1.3rem;
    align-items: center;
    opacity: 0.6;
}

@media only screen and ( max-width: 480px){

    .icons{
        width: 39px;
        height: 39px;
        transition: 300ms;
        fill: #000 ;
      }
      
    .icons:hover {
        opacity: 0.7;
        fill: #093028;
    }

    .conteiner .name h1 {
        font-size: 70px;
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .conteiner .name h5 {
        font-size: 27px;
        margin: 10px;
        margin-bottom: 50px;
    }

    #arrow {
        font-size: 50px;
        cursor: pointer;
        animation: blink 1s steps(5, start) infinite;
        margin-bottom: 30px;
    }

    .conteiner-3{
        border-radius: 2rem;
    }

    .conteiner-2{
        flex-direction: column;
    }
}